[Unit]
Description=Simple SSL Certificate Monitoring Service (Prometheus Exporter)
After=network-online.target

[Service]
Restart=always
ExecStart=/opt/bin/crt-mon -file=/opt/etc/crt-hosts.yml
ExecReload=kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
